<section class="container">
    <div class="columns is-multiline">
    <div class="column is-8 is-offset-2 register">
        <div class="columns">
        <div class="column left">
            <%= image_tag("5375478681594722064-128.png", width: 200) %>
            <h2 class="subtitle colored is-4">Share your repo github in here.</h2>
            <p>Let millions of people contribute to your repository from beginners to experts</p>
        </div>
        <div class="column right has-text-centered">
            <h1 class="title is-4">Sign up today</h1>
                
                <%= form_with(model: @user, local: true, html: { autocomplete: "off" }) do |f| %>
                <% if @user.errors.any? %>
                    <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from signing up:</h2>

                    <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                    </div>
                <% end %>

                <div class="field">
                    <%= f.label :username %><br />
                    <%= f.text_field :username, :class => "input" %>
                </div>

                <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, :class => "input" %>
                </div>

                <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, :class => "input" %>
                </div>

                <div class="actions">
                    <%= f.submit 'Sign Up', :class => "button is-block is-black is-fullwidth is-medium" %>
                </div>
                <% end %>
                </div>
        </div>
    </div>
    </div>
</section>
